
<h1>New User Registration</h1>

<p><strong>Name:</strong> <%- user.name %></p>
<p><strong>Email:</strong> <%- user.email %></p>

<hr />
<p><strong>Company Name:</strong> <%- user.company_name %></p>
<p><strong>Company URL:</strong> <a href="<%- user.company_url %>"><%- user.company_url %></a></p>
<p><strong>Company Logo URL:</strong> <a href="<%- user.company_logo_url %>"><%- user.company_logo_url %></a></p>
<p><strong>Company Email:</strong> <%- user.company_email %></p>

